

    {% extends 'header.html' %}

{% block content %}
     <script src="{{ url_for('static', filename='app.js') }}"></script>
     <script src="{{ url_for('static', filename='correlation.js') }}"></script>
<!--     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->

    <style>
        #targetColumnForm {
            display: none;
        }

        .step-container {
            display: flex;
            overflow-x: auto;
        }

        .step {
            flex: 0 0 auto;
            padding: 20px;
            border: 1px solid #ddd;
            background-color: #f9f9f9;
        }

        .hidden {
            display: none;
        }

        #progress-bar {
            width: 100%;
            background-color: #f1f1f1;
            height: 30px;
            position: relative;
        }

        #progress-bar div {
            height: 100%;
            line-height: 30px;
            text-align: center;
            position: absolute;
            color: white;
            width: 0;
        }

        #step1, #step2, #step3 {
            cursor: pointer;
        }

           /* Custom style to display options horizontally */
         .option-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .radio-label {
        margin-right: 15px; /* Adjust the margin as needed */
    }
    .form-control {
        margin-left: 15px; /* Adjust the margin as needed */
    }
    .radio-container {
        margin-right: 15px; /* Add margin between radio buttons and labels */
    }

        #charts-container {
  display: flex;
  flex-wrap: wrap; // This allows containers to wrap to next line if needed
}
/*

*/
        .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 75%;
}
.modal-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}


        .row{
            width:100%;
            margin-bottom:10px;
            border-right: 2px solid black; /* Adjust color and width as needed */
            border-left: 2px solid black;

            border-top: 2px solid black;



        }
        .col-md-6{
            text-align:center;
            padding:6px;
        }

        .table {
            width:100% ! important;
        }
#first10Records {
  overflow-x: auto; /* Enable horizontal scrollbar if content overflows */
}

         .tables-container {
      display: flex;
    }

    .numeric-table-container,
    .categorical-table-container {
      flex: 1;
      margin-right: 20px; /* Adjust the margin as needed */
    }

        #myTabs {
    background-color: #007bff;
      font-color: white;/* Set your preferred background color */
}
         #myTabs .nav-link {
        color: #1e1919 !important;
    }


      /* Style every 3rd column */
#traindata-container .table > tbody > tr > td:nth-child(4) {
	background-color:#9ee3a7  ! important;
}
#traindata-container .table > tbody > tr > td:nth-child(7) {
	background-color:#42c146 ! important;
}

        #testdata-container .table > tbody > tr > td:nth-child(4) {
	background-color:#9ee3a7  ! important;
}
#testdata-container .table > tbody > tr > td:nth-child(7) {
	background-color:#42c146 ! important;
}

    </style>

    <h1>Risk Score Prediction</h1>

    <form id="uploadForm">
        <input type="file" id="fileInput" name="file" accept=".csv">
        <button type="button" id="uploadButton">Upload CSV</button>
    </form>
    <br>
    <div id="first10Records" class="container-fluid  table-responsive" ></div>

    <button id="togglebutton" class="btn btn-primary" type="button" data-toggle="collapse" data-target="#nanFillContainer" aria-expanded="false" aria-controls="nanFillContainer" style="display: none;">
    Missing Data Handling
</button>

<div id="nanFillContainer" class="tables-container  collapse ml-0">
  <div class="numeric-table-container">
        <h2> Numeric Fields</h2>
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Column Name</th>
        <th>Do Nothing</th>
        <th>Mean</th>
        <th>Zero</th>
        <th>Manual Input</th>
        <th>Manual Value</th>
      </tr>
    </thead>
    <tbody id="numeric-table-body">
    </tbody>
  </table>
</div>

<div class="categorical-table-container">
    <h2> Categorical Fields</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Column Name</th>
        <th>Do Nothing</th>
        <th>Manual Input</th>
        <th>Manual Value</th>
      </tr>
    </thead>
    <tbody id="categorical-table-body">
    </tbody>
  </table>

</div>
</div>




    <!-- Form to select the target column -->
    <div id="targetColumnForm">
        <label for="targetColumnSelect">Select Target Column:</label>
        <select id="targetColumnSelect"></select>
        <button type="button" id="selectTargetColumnButton">Train Model</button>
    </div>




<div id="loader" style="display: none; text-align: center;">
  <img src="static/gifs/Blinkingsquares.gif" alt="Loading...">
</div>
     <!-- Progress bar -->
    <div id="progress-bar">
        <div id="step1" style="background-color:#4CAF50;"></div>
        <div id="step2" style="background-color:#4CAF50;"></div>
        <div id="step3" style="background-color:#4CAF50;"></div>
    </div>

<ul class="nav nav-tabs sticky-top" id="myTabs">

    <li class="nav-item">
        <a class="nav-link" name="threshold-container-tab" data-toggle="tab">Threshold</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" name="selected-features-details-container-tab" data-toggle="tab" >Selected Features Details </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" name="charts-container-tab" data-toggle="tab"  >EDA  </a>
    </li>
       <li class="nav-item">
        <a class="nav-link active" name="coef-tab" data-toggle="tab" >Modal Details </a>
    </li>
<!--    <li class="nav-item">-->
<!--        <a class="nav-link" name="pvalue-tab" data-toggle="tab" >P-Value </a>-->
<!--    </li>-->
    <li class="nav-item">
        <a class="nav-link" name="dynamicFormContainer-tab" data-toggle="tab"  >Get Score </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" name="testdata-container-tab" data-toggle="tab"  >Test-Data </a>
    </li>

    <li class="nav-item">
        <a class="nav-link" name="traindata-container-tab" data-toggle="tab"  >Train-Data </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" name="dsa-container-tab" data-toggle="tab"  >Descriptive statistics</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" name="corr-container-tab" data-toggle="tab"  >Correlation</a>
    </li>


</ul>

<div class="tab-content">
    <div class="tab-pane fade show active" id="coef-tab">
        <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
            <div class="col-md-8 mx-auto bg-white">

                 <div id="pvalue"></div>
                 <div id="coef"></div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="threshold-container-tab">
        <div id="threshold-container"></div>
    </div>
    <div class="tab-pane fade" id="selected-features-details-container-tab">
        <div id="selected-features-details-container"></div>
    </div>
    <div class="tab-pane fade" id="charts-container-tab">
        <div id="charts-container">
        </div>
    </div>


    <div class="container mt-4 tab-pane fade"  id="dynamicFormContainer-tab">
        <div class="row">
            <!-- Form Container -->
            <div class="col-md-6">
                <div class=" w-50 mx-auto" >
                     <div id="dynamicFormContainer"></div>
                </div>
            </div>
            <div id="predictedResult" class="col-md-6 bg-light"></div>
        </div>
    </div>

    <div class="tab-pane fade" id="testdata-container-tab">
        <div id="testdata-container">
        </div>
         <div id="testdata-charts-container">
        </div>
    </div>
    <div class="tab-pane fade" id="traindata-container-tab">
        <div id="traindata-container">
        </div>
         <div id="traindata-charts-container">
        </div>
    </div>
    <div class="tab-pane fade" id="dsa-container-tab">
        <div id="dsa-container">
        </div>

    </div>
    <div class="tab-pane fade" id="corr-container-tab">


        <h2>After Binning</h2>
         <div id="after-corr-charts-container" class="table-responsive">
        </div>
        <br>
         <h2>Before Binning</h2>

         <div id="before-corr-charts-container" class="table-responsive">
        </div>

        <br>
        <br>

    </div>



</div>


    <div id="image-viewer">
<span class="close">&times;</span>
<img class="modal-content" id="full-image">
</div>

 <!-- Include the dynamicForm.js file -->
    <script src="dynamicForm.js"></script>



<script>



$('.tab-content').on('click', 'img', function() {
  // Your function logic for image click goes here
  $("#full-image").attr("src", $(this).attr("src"));
    $('#image-viewer').show();
});

    // Event handler for tab click
    $("#myTabs a").on("click", function (e) {
        e.preventDefault();
        var tabId = $(this).attr("name");
        console.log(tabId);
        // Assuming the content for all tabs is already loaded, simply show the tab
        $('.fade').removeClass("show");
        $('.fade').removeClass("active");
        $('#'+tabId).addClass("show");
        $('#'+tabId).addClass("active");
        console.log('removed');
        $(this).tab("show");
        //$(this).tab("active");
        //$('#'+tabId).addClass("active");

    });


  $("#image-viewer .close").click(function(){
    $('#image-viewer').hide();
  })
    // Initial loading for the active tab


</script>


{% endblock %}
