<!-- predict.html -->
{% extends 'header.html' %}

{% block content %}
<!--
<div class="row">
    <div class="col-md-12 bg-white">
        <h2 class="text-left p-2 mt-1 text-white bg-success"><i class="fa fa-search"></i> Predict Details</h2>
    </div> 
</div> 
-->
    <form method="post" class="form-horizontal" action="/predict">
        <!-- Numeric Fields -->
        <div class="row gy-4 gy-xl-5 p-4 p-xl-5">
            <div class="col-md-6 bg-white">
                <h2 class="bg-primary text-center text-white p-2">Predict</h2>
                <hr/>
                <label for="annual_inc" class ="form-label">Annual Income:</label>
                <input type="number" class="form-control" name="annual_inc" step="any" required value="{{ annual_inc if annual_inc is defined else '' }}">

                <label for="dti" class ="form-label">Debt-to-Income Ratio:</label>
                <input type="number" class="form-control" name="dti" step="any" required value="{{ dti if dti is defined else '' }}">
        
                <label for="revol_util" class ="form-label">Revolving Utilization:</label>
                <input type="number" class="form-control" name="revol_util" step="any" required value="{{ revol_util if revol_util is defined else '' }}">
        
                <label for="emp_length_num" class ="form-label">Employment Length (0 to 10):</label>
                <input type="number" class="form-control" name="emp_length_num" min="0" max="10" required value="{{ emp_length_num if emp_length_num is defined else '' }}">
        
                <!-- Dropdown Fields -->
                <label for="grade" class ="form-label" class ="form-label">Grade:</label>
                <select name="grade" class="form-control" required>
                    <option value="A" {{ 'selected' if grade == 'A' else '' }}>A</option>
                    <option value="B" {{ 'selected' if grade == 'B' else '' }}>B</option>
                    <option value="C" {{ 'selected' if grade == 'C' else '' }}>C</option>
                    <option value="D" {{ 'selected' if grade == 'D' else '' }}>D</option>
                    <option value="E" {{ 'selected' if grade == 'E' else '' }}>E</option>
                    <option value="F" {{ 'selected' if grade == 'F' else '' }}>F</option>
                    <option value="G" {{ 'selected' if grade == 'G' else '' }}>G</option>
                    <!-- Add other grade options as needed -->
                </select>
        
                <label for="purpose" class ="form-label">Purpose:</label>
                <select name="purpose" class="form-control" required>
                    <option value="business" {{ 'selected' if purpose == 'business' else '' }}>Credit Card</option>
                    <option value="debt_consolidation" {{ 'selected' if purpose == 'debt_consolidation' else '' }}>Debt Consolidation</option>
                    <option value="medical" {{ 'selected' if purpose == 'medical' else '' }}>Medical</option>
                    <option value="other" {{ 'selected' if purpose == 'other' else '' }}>Other</option>
                    <!-- Add other purpose options as needed -->
                </select>
        
                <label for="term" class ="form-label">Term:</label>
                <select name="term" class="form-control" required>
                    <option value="36 months" {{ 'selected' if term == '36 months' else '' }}>36 months</option>
                    <option value="60 months" {{ 'selected' if term == '60 months' else '' }}>60 months</option>
                    <!-- Add other term options as needed -->
                </select>
                <div class="w-100 text-center">
                <button type="submit" class="btn btn-sm btn-success mt-1">Predict</button>
                </div>
            </div>
            <div class="col-md-6 bg-light">

            {% if prediction_result is defined %}
                <h2 class="text-center text-white border bg-primary rounded">Predicted Result: {{ color.title() }}</h2>
                <div class="page-wrapper">
                {% if color == "green" %}  
                    <div class="custom-modal bg-lightgreen">
                        <div class="succes succes-animation icon-top"><i class="fa fa-check"></i></div>
                        <div class="succes border-bottom"></div>
                        <div class="content">
                            <p class="type">Score: {{ "{:.2f}".format(prediction_result) }}</p>
                            <p class="message-type">Financials are sufficient</p>
                        </div>
                    </div>
                {% elif color == "red" %}   
                    <div class="custom-modal bg-lightred">
                        <div class="danger danger-animation icon-top"><i class="fa fa-times"></i></div>
                        <div class="danger border-bottom"></div>
                        <div class="content">
                            <p class="type">Score: {{ "{:.2f}".format(prediction_result) }}</p>
                            <p class="message-type">Financials are in-sufficient</p>
                        </div>
                    </div>
                {% else %}  
                    <div class="custom-modal bg-lightyellow">
                        <div class="danger danger-animation icon-top"><i class="fa fa-times"></i></div>
                        <div class="danger border-bottom"></div>
                        <div class="content">
                            <p class="type">Score: {{ "{:.2f}".format(prediction_result) }}</p>
                            <p class="message-type">Chance to consider</p>
                        </div>
                    </div>
                {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-8 offset-2">
                        <div class="row border rounded">
                            <div class="col-md-4 text-right font-weight-bold">
                                <5 <i class="fa fa-circle" style="color:green;font-size:16px;line-height:16px;margin:0px 5px 0px 5px;"></i>
                            </div>
                            <div class="col-md-4 text-center font-weight-bold">
                                >=5 & <=7 <i class="fa fa-circle" style="color:yellow;font-size:16px;line-height:16px;margin:0px 5px 0px 5px;"></i>
                            </div>
                            <div class="col-md-4 text-left font-weight-bold">
                                >=8 <i class="fa fa-circle" style="color:red;font-size:16px;line-height:16px;margin:0px 5px 0px 5px;"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <h3>User Input</h3>
                <ul>
                
                    <li>Annual Income: {{ annual_inc }}</li>
                    <li>Debt-to-Income Ratio: {{ dti }}</li>
                    <li>Revolving Utilization: {{ revol_util }}</li>
                    <li>Employment Length: {{ emp_length_num }}</li>
                    <li>Grade: {{ grade }}</li>
                    <li>Purpose: {{ purpose }}</li>
                    <li>Term: {{ term }}</li> -->
                    <!-- Add other input variables as needed -->
                <!-- </ul> -->  
            {% endif %}
            </div>
        </div>

        
        

       

       
    </form>

    
{% endblock %}
